<div class="vote-live-view" id="vote-live-view" phx-hook="VoteLiveView">
  <%= cond do %>
    <% Room.get_status("voting_options") == @room.status -> %>
      <h1 class="header">Room Voting Options</h1>
      <%= live_component @socket, VoteLive.VoteOptions, id: @room.id, room: @room %>
    <% Room.get_status("voting") == @room.status -> %>
      <h1 class="header">Cast Your Votes!</h1>
      <%= live_component @socket, VoteLive.VoteCasting, id: @room.id, room: @room %>
  <% end %>
</div>
