<%= live_link to: Routes.live_path(@socket, VotrWeb.RoomLive.New) do %>
  <button>Create Room</button>
<% end %>
<%= live_link to: Routes.live_path(@socket, VotrWeb.RoomLive.Index) do %>
  <button>Find Room</button>
<% end %>
