/* This file is for your main application css. */

@import "layout";
@import "./phoenix.css";
@import "../../../../deps/phoenix_live_view/assets/css/live_view.css";

.layout {
  margin-top: 2rem;
}

ul.room-index {
  li {
    display: grid;
    grid-template-columns: 3fr 1fr;
    overflow-wrap: break-word;
  }
}

.vote-live-view {
  .header {
    text-align: center;
  }
}

.vote-live-view .vote-options-component {
  .start-vote-button {
    &:disabled {
      background-color: red;

      &:hover {
        background-color: red;
      }
    }

    margin-top: 1rem;
    margin-bottom: 4rem;
    width: 100%;
    border: none;
    font-size: 1.8rem;
    background-color: lighten(green, 14%);

    &:hover {
      background-color: lighten(green, 8%);
    }

    // Styles for the clarification text.
    .clarification {
      text-transform: none;
      font-size: 1.5rem;
      vertical-align: top;
    }
  }

  .add-option-container {
    display: flex;
    // We have to use flex-end so that the error message doesn't mess up button
    // alignment.
    align-items: flex-end;

    button {
      margin-right: 1rem;
    }

    .input-field-container {
      // Because we're using flex-end alignment in this container, the input
      // isn't correctly aligned with the button. This adjustment fixes that.
      margin-bottom: -5px;
      width: 100%;
      .help-block {
        margin: 0;
        margin-left: 0.5rem;
      }
    }
  }

  .vote-options-list li {
    &:last-child {
      padding-bottom: 0;
      border-bottom: none;
    }

    padding-bottom: 1rem;
    border-bottom: 2px solid #dfdfdf;
    display: grid;
    align-items: center;
    grid-template-columns: 3fr 1fr;
    grid-gap: 1rem;

    button {
      min-width: 11rem;
      margin-bottom: 0;
    }

    .actions {
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: repeat(2, 1fr);
    }

    .option {
      margin: 0;
      font-size: 1.7rem;
    }
  }
}

.vote-live-view .vote-casting-component {
  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  #group-areas {
    .area {
      background-color: lightblue;
      padding: 1rem 1rem;
      margin: 1rem 0;
    }

    .rank-text {
      font-weight: bold;
      text-align: center;
      margin-right: 1rem;
    }

    .group li {
      list-style: none;
    }
  }

  #vote-options-list {
    padding: 2rem;
    justify-content: center;
    background-color: aqua;
    position: sticky;
    bottom: 0;
  }

  .vote-option {
    margin: 1rem 0.5rem;

    .name {
      cursor: pointer;
      font-size: 1.8rem;
      font-weight: 500;
      padding: 1rem 2rem;
      background-color: gainsboro;
    }
  }
}

.sortable-ghost {
  opacity: 0.5;
}
