<h1>Show Room</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @room.name %>
  </li>

  <li>
    <strong>Users:</strong>
    <ul>
      <%= for user <- @room.users do %>
        <%= render VotrWeb.UserView, "user.html", user: user %>
      <% end %>
    </ul>
  </li>


</ul>

<span><%= link "Vote", to: "#" %></span>
<span><%= live_link "Back", to: Routes.live_path(@socket, VotrWeb.RoomLive.Index) %></span>
